<head>
<% provide(:title, "Log in") %>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>

<%= render "layouts/header" %>


<!-- Log In --> 
<div class="row justify-content-center" style="margin: 80px 20px 10px 30px;">  
  <div class=" col-md-6 col-md-offset-3" style="padding-bottom: 70px">
  </div>

  <div class="card-div col-md-6 col-md-offset-3" style="padding-top: 30px;, padding-bottom: 30px">
    <h1 style="width: 200px; padding-top:10px; padding-bottom: 30px;"> Welcome to StyleMe, 
    <span style="font-size: 50%;">your digital Outfit Planner! 
    <%= button_to "Log in", login_path, :method => "get",class: "btn green-btn" %>
    <%= button_to "Sign Up", login_path, :method => "get",class: "btn green-btn" %>
    </span></h1> 
  </div>
</div>
<div class="row justify-content-center" style="margin: 80px 20px 10px 30px;">  
  <div class="card-div col-md-6 col-md-offset-3" align="center">
    <h1 style="width: 200px;"> Two simple steps ... </h1> 
  </div>

  <div class="col-md-6 col-md-offset-3">
    <%= image_tag("simplesteps.png", style: 'height:80%; width:80%;', :alt => "Simple Steps") %>
  </div>
</div>

<div class="row justify-content-center" style="margin: 80px 20px 10px 30px;">  
  <div class=" col-md-6 col-md-offset-3" align="center">
    <%= image_tag("outfit.png", style: 'height:80%; width:80%;', :alt => "outfit showing pictures of clothes and weather") %>
  </div>

  <div class="card-div col-md-6 col-md-offset-3">
    <h1 style="width: 200px;"> and voila! your outfit is ready! </h1> 
  </div>
</div>

</body>
