<head>
<% provide(:title, "Log in") %>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>

<%= render "layouts/header" %>


<!-- Log In --> 
<div class="row justify-content-center" style="margin: 80px 20px 10px 30px;">  
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-with-line" style="padding-bottom: 10px;">Log in</h1>
    <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
      
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.submit "Log in", class: "btn green-btn" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>

</body>
