
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<%= render "layouts/header" %>


<div class="row">

  <div class="column left" style="width: 25%; margin-left: 5%;">
  <div class="row center padding-above">
    <h2 class="text-with-line"><span>Weather</span></h2>
    <%@icon= @output['current']['weather'][0]["icon"]%>
    <div class="weathergrid">
  <div class="top-left"><p style="text-align:center;"><%= image_tag "http://openweathermap.org/img/wn/#{@icon}@2x.png"%></p></div>
  <div class="bottom-left"><p style="text-align:center;"><%= @output['current']['weather'][0]["description"].capitalize%></p></div>
  <div class="top-right"><b><p style="text-align:center; font-size:40px"><%= @output['current']['temp'].truncate%>°F</p></b></div>
  <div class="bottom-right"><p style="text-align:center; font-size:13px">Feels like <%= @output['current']['feels_like'].truncate%>°F</p></div>
</div>
    <%if !@output['alerts'].nil?%>
     <p style="color:red"><b>ALERT: <%=@output['alerts'][0]["event"].upcase%> </b></p>
     <%end%>
    </div>
    <div class="row center padding-below">
      <h2 class="text-with-line"><span>Occasion</span></h2>
      <%= link_to "Casual",generate_path(:user_id => @user_id,:occasion => "Casual"),class: "btn green-btn divide"%>
      <%= link_to "Business-Casual",generate_path(:user_id => @user_id,:occasion => "Business-Casual"),class: "btn green-btn"%>
    </div>
     <div class="row center">
    <h2 class="text-with-line" ><span>Pick Outfit</span></h2>
      <%= button_to "Wear",ootd_path(@ootd),:method => :patch, data: { confirm: 'This outfit has been added to your laundry!' }, class: "btn green-btn divide"%>
      </div>
    <%if %w[Thunderstorm Drizzle Rain].include?(@output['current']['weather'][0]['main']) || !@random_accessory.nil? && @random_accessory.photo.attached? %>
    <div>
    <h2 class="text-with-line padding-below"><span>Accessory</span></h2>
    </div>
    <div style="display:flex;">
    <%if !@random_accessory.nil? && @random_accessory.photo.attached?%>
      <%= link_to image_tag(@random_accessory.photo, width: 260,height: 260),generate_again_path(:quad=>@random_accessory.quadrant,:category=>@random_accessory.clothing_category,:pastid => @random_accessory.id, :userid=>@random_accessory.user_id,:occ =>@random_accessory.occasion),id:"accessory",remote: true%>
      <%end%>
      <%if %w[Thunderstorm Drizzle Rain].include?(@output['current']['weather'][0]['main'])%>
     <%= image_tag("blackumbrella.jpg", width: 260,height: 260)%>
    <%end%>
       </div>
      <%end%> 
   
  </div>

  <div class="column right">
    <div class="outfit center" style="text-align: center;">
      <h1 style="margin-top: 30px;"> Your outfit for the day is: </h1>
      <div>
      <%if !@random_top.nil? && @random_top.photo.attached? %>
      <%= link_to image_tag(@random_top.photo, width: 260,height: 260),generate_again_path(:quad=>@random_top.quadrant,:category=>@random_top.clothing_category,:pastid => @random_top.id, :userid=>@random_top.user_id,:occ =>@random_top.occasion),id:"top",remote: true%>
      <%end%>
      <%if !@random_top2.nil? && @random_top2.photo.attached? %>
      <%= link_to image_tag(@random_top2.photo, width: 260,height: 260),generate_again_path(:quad=>@random_top2.quadrant,:category=>@random_top2.clothing_category,:pastid => @random_top2.id, :userid=>@random_top2.user_id,:occ =>@random_top2.occasion),id:"top2",remote: true%>
      <%end%>
      </div>
      <div>
      <%if !@random_bottom.nil? && @random_bottom.photo.attached? %>
      <%= link_to image_tag(@random_bottom.photo, width: 260,height: 330),generate_again_path(:quad=>@random_bottom.quadrant,:category=>@random_bottom.clothing_category,:pastid => @random_bottom.id, :userid=>@random_bottom.user_id,:occ =>@random_bottom.occasion),id:"bottom",remote: true%>
      <%end%>   
      </div>
      <div>
      <%if !@random_socks.nil? && @random_socks.photo.attached? %>
      <%= link_to image_tag(@random_socks.photo, width: 260,height: 260),generate_again_path(:quad=>@random_socks.quadrant,:category=>@random_socks.clothing_category,:pastid => @random_socks.id, :userid=>@random_socks.user_id,:occ =>@random_socks.occasion),id:"socks",remote: true%>
      <%end%> 
      <%if !@random_shoes.nil? && @random_shoes.photo.attached? %>
      <%= link_to image_tag(@random_shoes.photo, width: 260,height: 260),generate_again_path(:quad=>@random_shoes.quadrant,:category=>@random_shoes.clothing_category,:pastid => @random_shoes.id, :userid=>@random_shoes.user_id,:occ =>@random_shoes.occasion),id:"shoes",remote: true%>
      <%end%> 
      </div>
    </div>
  </div>
</div>
