

<h1>The current temperature is: </h1>
<%= @output['current']['temp']%>
<div class="outfit">
    <h1> Your outfit for the day is: </h1>
    <%if !@random_top.nil? && @random_top.photo.attached? %>
    <%= link_to image_tag(@random_top.photo, width: 200),generate_again_path(:quad=>@random_top.quadrant,:category=>@random_top.clothing_category,:pastid => @random_top.id, :userid=>@random_top.user_id),id:"top",remote: true%>
    <%end%>
    <%if !@random_top2.nil? && @random_top2.photo.attached? %>
    <%= link_to image_tag(@random_top2.photo, width: 200),generate_again_path(:quad=>@random_top2.quadrant,:category=>@random_top2.clothing_category,:pastid => @random_top2.id, :userid=>@random_top2.user_id),id:"top2",remote: true%>
    <%end%>
    <div>
    <%if !@random_bottom.nil? && @random_bottom.photo.attached? %>
    <%= link_to image_tag(@random_bottom.photo, width: 200),generate_again_path(:quad=>@random_bottom.quadrant,:category=>@random_bottom.clothing_category,:pastid => @random_bottom.id, :userid=>@random_bottom.user_id),id:"bottom",remote: true%>
    <%end%>   
    </div>
    <div>
    <%if !@random_socks.nil? && @random_socks.photo.attached? %>
    <%= link_to image_tag(@random_socks.photo, width: 200),generate_again_path(:quad=>@random_socks.quadrant,:category=>@random_socks.clothing_category,:pastid => @random_socks.id, :userid=>@random_socks.user_id),id:"socks",remote: true%>
    <%end%> 
    <%if !@random_shoes.nil? && @random_shoes.photo.attached? %>
    <%= link_to image_tag(@random_shoes.photo, width: 200),generate_again_path(:quad=>@random_shoes.quadrant,:category=>@random_shoes.clothing_category,:pastid => @random_shoes.id, :userid=>@random_shoes.user_id),id:"shoes",remote: true%>
    <%end%> 
    </div>
</div>

<%= link_to 'Back', 'javascript:history.go(-1);' %>
