<!DOCTYPE html>
<html>
<p id="notice"><%= notice %></p>
<p>
  <%= @user.name %>
</p>
<h1>Tops</h1>
<%= render 'my_partial', quad: "Top" %>
<h1>Bottoms</h1>
<%= render 'my_partial', quad: "Bottom" %>

<%= link_to 'Upload Clothes', uploadclothes_path(:user_id => @user.id)%>
</html>