<!DOCTYPE html>
<html>
<header>
<link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Zen+Kurenaido&display=swap" rel="stylesheet">
<%= render "layouts/header" %>
<p id="notice"><%= notice %></p>
</header>
<body>
<div style="text-align: center">
<h1 class="center">
  <%= @user.name%>'s closet
</h1>
<br>
<div>
<h2 class="text-with-line"><span>Tops</span></h2>
<%= render 'my_partial', quad: "Top" %>
<h2 class="text-with-line"><span>Bottoms</span></h2>
<%= render 'my_partial', quad: "Bottom" %>
<h2 class="text-with-line"><span>Socks</span></h2>
<%= render 'my_partial', quad: "Socks" %>
<h2 class="text-with-line"><span>Shoes</span></h2>
<%= render 'my_partial', quad: "Shoes" %>
</div>

<%= link_to 'Upload Clothes', uploadclothes_path(:user_id => @user.id)%>
<%= link_to 'Generate Outfit', generate_path(:user_id => @user.id)%>
</div>
</body>
</html>