<div style="text-align:center;">
<%= form_with(model: clothe) do |form| %>
  <% if clothe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clothe.errors.count, "error") %> prohibited this clothe from being saved:</h2>

      <ul>
        <% clothe.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :user_id%>
  </div>

  <div class="field">
    <%= form.label :quadrant, "Category"  %>
    <%= form.select :quadrant, ["Top","Bottom","Socks","Shoes","Accessory"],selected:@clothe.quadrant, class: 'form-select form-select-sm w-25', :required => true %>
  </div>

  <div class="field">
    <%= form.label :clothing_category ,"Style" %>
    <%= form.select :clothing_category, ["T-Shirt","Hoodie","Longsleeve","Button-down","Winter-Coat","Fall/Spring-Jacket","Dress","Jeans","Pants","Shorts","Skirt","Leggings","Sweatpants","Sneakers","Dress-Shoes","Sandals","Boots","Socks","Hat","Gloves","Scarf","Umbrella"], selected:@clothe.clothing_category, class: 'form-select form-select-sm w-25', :required => true %>
  </div>

  <div class="field">
    <%= form.label :color %>
    <%= form.color_field :color,value:@clothe.color, class: 'upload-form h-100 w-50', :required => true %>
  </div>

  <div class="field">
    <%= form.label :occasion %>
    <%= form.select :occasion, ["Casual","Business-Casual"],select:@clothe.occasion, class: 'form-select form-select-sm w-25', :required => true %>
  </div>
<div class="field">
  </div>
    <div class="actions">
      <%= form.submit "Save" ,class: "btn green-btn" %>
    </div>
<% end %>

</div>