<h1>Upload your clothes here!</h1>


<%= form_with(model: @clothe, local: true) do |f| %>
    <%= f.label :user_id %>
    <%= f.number_field :user_id, class: 'upload-form' %>
    <%= f.label :type %>
    <%= f.select :type, ["Top","Bottom","Socks","Shoes","Accessory"],{}, class: 'form-select form-select-sm w-25' %>
    <%= f.label :style %>
    <%= f.select :style, ["Jeans","T-Shirt"], {}, class: 'form-select form-select-sm w-25' %>
    <%= f.label :color %>
    <%= f.color_field :color, class: 'upload-form h-50' %>
    <%= f.label :occassion %>
    <%= f.select :occassion, ["Casual","Business-Casual"],{}, class: 'form-select form-select-sm w-25' %>
    <%= f.label :picture%>
    <%= f.file_field :picture%>
    <%= f.submit "Register", class: "btn btn-primary w-25" %>
<% end %>


<%= link_to 'Back', clothes_path %>
