<script src="https://kit.fontawesome.com/925da18a86.js" crossorigin="anonymous"></script>
<body class="gradient-custom"style="margin:0px; font-family: 'Zen Kurenaido', sans-serif; color: white;">

<!-- Navbar -->
        <% if not !session[:user_id].nil? %>
            <nav class="navbar sticky-top navbar-expand-sm navbar-custom ">
                <div class="container">
                    <div class="navbar-brand">
                        <%= link_to image_tag('logo.png', style: 'height:15%; width: 50%;', alt: "Style Me! Logo"), root_path %>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class = "navbar-nav">
                            <li class="nav-item unboxed-button">
                                <%= link_to "Log In", login_path%>
                            </li>
                            <li class="nav-item box-button" role="button">
                                <i class="fas fa-user-plus">
                                <%= link_to "Sign up", signup_path%>
                                </i>
                            </li>
                        </ul>
                    </div>
                </div>
            <% end %>
            <% if !session[:user_id].nil? %>
            <nav class="navbar sticky-top navbar-expand-sm navbar-custom ">
                <div class="container">
                    <div class="navbar-brand">
                        <%= link_to image_tag('logo.png', style: 'height:15%; width: 50%;', alt: "Style Me! Logo"), "/users/#{session[:user_id]}" %>
                    </div>
                    
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse d-flex justify-content-end" id="navbarNav">
                        <ul class = "navbar-nav">
                            <li class="nav-item unboxed-button">
                                <%= link_to "Laundry List", laundry_path(:user_id => session[:user_id])%>
                            </li>
                            <li class="nav-item unboxed-button">
                                <%= link_to "Upload Clothes", uploadclothes_path(:user_id => current_user.id)%>
                            </li>
                            <li class="nav-item unboxed-button">
                                <%= link_to "Generate Outfit", generate_path(:user_id => current_user.id)%>
                            </li>
                            <li class="nav-item unboxed-button">
                                <%= link_to "My Closet", "/users/#{session[:user_id]}"%>
                            </li>
                            <li class="nav-item unboxed-button" role="button">
                            <i class="fas fa-sign-out-alt">
                                <%= link_to "Log Out", logout_path, method: :delete%>
                            </i>
                            </li>
                        </ul>
                    </div>
                </div>
                    </div>
                </div>
            <% end %>
        </ul>
        <!--<span class="ml-auto navbar-text">Teffffddxt</span>-->
    </div>
</nav>
